@import "~storm-react-diagrams/src/sass/main.scss";

// Colors
$bg-color: #1C2331;
$dot-color: #3F729B;

// Dimensions
$dot-size: 3px;
$dot-space: 22px;

.body {
  height: 100%;

  .content {
    display: flex;
    flex-grow: 1;

    .diagram-layer {
      position: relative;
      flex-grow: 1;
    }

    .tray {
      min-width: 20%;
      height: 100vh;
      background: #1C2331;
      flex-grow: 0;
      flex-shrink: 0;
      overflow: scroll;

      -webkit-align-content: center;
      align-content: center;
    }
  }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.srd-demo-canvas {
  height: 100%;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}


:required {
  border-color: red;
  border-style: solid;
}