@import "~storm-react-diagrams/src/sass/main.scss";

// Colors
$bg-color: #1370FB;
$dot-color: #3882E8;

// Dimensions
$dot-size: 3px;
$dot-space: 22px;

.body {
  height: 100%;

  .content {
    display: flex;
    flex-grow: 1;

    .diagram-layer {
      position: relative;
      flex-grow: 1;
    }

    .tray {
      min-width: 200px;
      height: 100vh;
      background: rgb(20,20,20);
      flex-grow: 0;
      flex-shrink: 0;
      overflow: scroll;
    }
  }
}

.srd-demo-canvas {
  height: 100%;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}